<div class="bttns-footer">
    <a class="footer-bttn" href="/chatrooms">
        <i class="far fa-comment-alt bttn-chatroom"></i>
    </a>
    <a class="footer-bttn" href="/users">
        <i class="fas fa-user-friends bttn-users"></i>
    </a>
    <a class="footer-bttn" href="/login">
        <i class="fas fa-sign-out-alt bttn-quit"></i>
    </a>
</div>