<div class="input-footer">

<div class="input-field-default">
    <div class="enter-message">
        <form action="" method="post" class="sendmessage" autocomplete="off">
            <div class="input-field">
                <input class="msg" type="text" name="nickname" placeholder="Message...">
                <button class="submit" type="submit"><i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
       
    </div>


</div>


</div>