<div class="message-block">
    <div class="message-info">
        <div class="message-username">YOU</div>
        <div class="message-said">said @ </div>
        <div class="message-time">18:32</div>
    </div>
    <div class="message">je dikke mama</div>
</div>

<div class="message-block other-user">
    <div class="message-info">
        <div class="message-username">YOU</div>
        <div class="message-said">said @ </div>
        <div class="message-time">18:32</div>
    </div>
    <div class="message">je dikke mama</div>
</div>