<div class="content">
    <div class="sidebar-rooms" id="sidebar">
        <div href="" class="link">dit is de swift room</div><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
        <a href="/chats">dit zijn de sidebar-rooms</a><br>
    </div>
    <div class="content-inner" id="content-rooms">
        <div class="chats">
            {{> sidebar-chats}}
        </div>
    </div>
</div>


<footer>
    {{> footer-bttn}}
    {{> footer-input}}
</footer>



{{!-- <div class="rooms">
            <div class="room">
                <div class="room-info">
                    <div class="room-name"></div>
                    <div class="last-message"></div>
                </div>
                <div class="room-users">
                    <div class="room-users-amount">14</div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
            </div>
        </div> --}}