<div class="content">
    <div class="sidebar-rooms" id="sidebar">

        <div class="room selected" href="">
            <div class="room-text">
                <div class="room-name">javascript</div>
                <div class="last-message">
                    Sorry I can't come tonight I have other plans.
                </div>
            </div>
            <div class="room-users">14<i class="fas fa-user-friends"></i></div>
        </div>
        <div class="room">
            <div class="room-text">
                <div class="room-name">css</div>
                <div class="last-message">
                    Sorry I can't come tonight I have other plans.
                </div>
            </div>
            <div class="room-users">14<i class="fas fa-user-friends"></i></div>
        </div>
        <div class="room">
            <div class="room-text">
                <div class="room-name">swift</div>
                <div class="last-message">
                    Sorry I can't come tonight I have other plans.
                </div>
            </div>
            <div class="room-users">14<i class="fas fa-user-friends"></i></div>
        </div>
        <div class="room">
            <div class="room-text">
                <div class="room-name">java</div>
                <div class="last-message">
                    Sorry I can't come tonight I have other plans.
                </div>
            </div>
            <div class="room-users">14<i class="fas fa-user-friends"></i></div>
        </div>


    </div>


    <div class="content-inner" id="content-rooms">
        <div class="chats">
            {{> sidebar-chats}}
        </div>
    </div>

</div>
<footer>
    {{> footer-bttn}}
    {{> footer-input}}
</footer>



{{!-- <div class="rooms">
            <div class="room">
                <div class="room-info">
                    <div class="room-name"></div>
                    <div class="last-message"></div>
                </div>
                <div class="room-users">
                    <div class="room-users-amount">14</div>
                    <i class="fas fa-sign-out-alt"></i>
                </div>
            </div>
        </div> --}}