    <div class="enter-nickname">
        <form action="" method="post">
            <div class="input-field 
            {{!-- user-taken --}}
            ">
                <input type="text" name="nickname" id="" placeholder="Nickname">
                <a class="submit" type="submit"><i class="fas fa-sign-in-alt"></i></a>
            </div>
        </form>
        {{!-- <div class="form-fail-text">
            this nickname already exists. Try another.
        </div> --}}
    </div>
    <div class="login-text">
        <p>
            This is dummy text
        </p>
    </div>
