<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>

<body>
    <div class="container">
        <header>
            <div class="head-title">
                <h1>Enter chatbox</h1>
                <span class="sub-title">suck a cock</span>
            </div>
            <nav>
            </nav>
        </header>

        <div class="content">
            <div class="content-inner">
                <div class="enter-nickname">
                    <form action="" method="post">
                        <div class="input-field">
                            <!-- class: taken -->
                            <input type="text" name="nickname" placeholder="Nickname">
                            <button class="submit" type="submit"><i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </form>
                     <!-- <div class="form-fail-text">
                        this nickname already exists. Try another.
                    </div>  -->
                </div>
                <div class="login-text">
                    <p>
                        This is dummy text
                    </p>
                </div>
            

            </div>
        </div>

        <footer>
        </footer>

    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="/assets/dropdown.js"></script>
</body>

</html>