<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>My Awesome App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="./assets/login.js"></script>
</head>

<body>
    <div class="container">
        <header>
            <div class="head-title">
                <h1>The ChatApp</h1>
                <!-- <span class="sub-title">suck a cock</span> -->
            </div>
            <nav>
            </nav>
        </header>

        <div class="content">
            <div class="login">
                <div class="enter-nickname">
                    <form action="" autocomplete="off">
                        <div class="input-field">
                            <input type="text" name="nickname" placeholder="Nickname" class="username">
                            <button class="submit" type="submit"><i class="fas fa-sign-in-alt"></i></button>
                        </div>
                    </form>
                    <div class="form-fail-text">
                        Nickname token or doesn't meet the requirements.<br><br>
                        Nickname needs to be more than 5 letters/digits long.
                    </div> 
                </div>
                <div class="login-text">
                    <p>
                        Welcome to this awesome ChatApp.
                    </p>
                </div>


            </div>
        </div>

        <footer>
        </footer>

    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>

       
</body>

</html>