 <div class="content">
 {{> user}}
 <div class="content-inner">
     <div class="users">
         <div class="user">
             <div class="user-name"><div class="status online"></div><p>MangoManny</p></div>
             <div class="cur-room">Chilled piece</div>
         </div>
          <div class="user">
             <div class="user-name"><div class="status away"></div><p>MangoManny</p></div>
             <div class="cur-room">Chilled piece</div>
         </div>
          <div class="user">
             <div class="user-name"><div class="status online"></div><p>MangoManny</p></div>
             <div class="cur-room">Chilled piece</div>
         </div>
     </div>
</div>
</div>

<footer>
     {{> footer-bttn}}
</footer>