 <div class="content">
 {{> sidebar-users}}
 <div class="content-inner">
     <div class="users">
         {{#each user}}
         <div class="user">
             <div class="user-name"><div class="status online"></div><p>{{this}}</p></div>
             <div class="cur-room">Chilled piece</div>
         </div>
         {{/each}}
          
         
     </div>
</div>
</div>

<footer>
     {{> footer-bttn}}
</footer>