@import 'login.scss';
@import 'users.scss';
@import 'chatrooms.scss';

.container {
    background: #292929;

// Base styling header
    header {
        padding: 0px 35px;
        justify-content: center;
        text-align: center;

        .page-back {
            left: 5%;
        }

        .dropdown {
            right: 9%;

            .fa-times {
                display: none;
            }
        }

        .page-back {
            display: none;
        }

        .page-back, .dropdown {
            position: absolute;
            height: 32px;
            width: 32px;
            color: white;

            i {
                font-size: 25px;
            }
        }

        .head-title {
            min-width: 115px;
            flex-flow: column;

            h1 {
                font-size: 14px;
            }

            .sub-title {
                font-size: 10px;
            }
        }

        

        nav {
            display: none;
            position: absolute;
            top: 110px;
            width: 100%;
            ul {
                li {
                    height: 60px;
                    border-bottom: 1px solid black;
                    padding: 0px 25px;
                    justify-content: space-between;
                    align-items: center;
                    a {

                    }
                }
            }
        }
    }

    // Base styling content
    .content {
        padding: 35px 25px 35px 25px;
        .content-inner  {
        }
        
        #content-rooms {
            display: none;
        }
        .sidebar-users {
            display: none;
        }
    }

    // Base styling footer
    footer {
        .bttns-footer{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            padding: 30px 12.3%;
            .footer-bttn {
                color: #707070;
                i {
                    transition: 0.3s;
                    font-size: 25px;
                }
                i:hover {
                    color: $blue;
                    cursor: pointer;
                    transition: 0.3s;
                }
                .selected {
                    color: $blue;
                    transition: 0.7s;
                }
            }
        }
        .footer-input {
            display: none;
        }
    }
}