.content {
    .sidebar-rooms {
        align-items: center;

        .room {
            width: 100%;
            margin-bottom: 40px;
            

            &:hover {
                cursor: pointer;
            }
        }

    }

    .content-inner {
        .chats {
          padding: 0 !important;

            .message-block {
                margin-top: 30px;
                padding: 25px;
                max-width: 264px;
                width: 100%;

                .message-info {
                  

                    .message-username {
                      font-size: 12px;
                    }

                    .message-said {
                        font-size: 12px;
                    }

                    .message-time {
                        font-size: 12px;
                    }
                } .message {
                   font-size: 12px;
                }

            }
            .this-user {
                background: $blue;
                align-self: flex-end;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 0px;
            }
        }
    }
    }

   
