.content {
    .content-inner {
        height: 100%;
        .users {
    
            .user {
                justify-content: space-between;    
                .user-name {
                    color: white;
                    
        
                    p {
        
                    }
        
                    .status {}
                }
        
                .cur-room {
                    color: #333333;
                }
                &:not(:first-child){
                    margin-top: 20px;
                }
            }
           
        }
        
    }

    #sidebar {

    }
    
}
