@media only screen and (min-width: 751px) {
    @import 'pc/base.scss';
}

@media only screen and (max-width: 750px) {
    @import 'phone/base.scss';
}



*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    header {
        min-height: 110px;
        background: #1f1f1f;
        border-radius: 0px 0px 15px 15px;
        color: white;
        display: flex;
        align-items: center;

        .head-title {
            display: flex;

            .sub-title {}
        }

        nav {
            ul {
                li {
                    background: #cccccc;
                    text-decoration: none;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    text-transform: uppercase;

                    a {
                        color: black;
                        text-decoration: none;
                    }

                    i {
                        color: black;
                    }
                }

                .selected {
                    background: #1a78d0;

                    a {
                        color: white;
                    }

                    i {
                        color: white;
                    }
                }
            }
        }
    }

    .content {
        min-height: calc(100vh - 220px);

        .submit:hover {
            cursor: pointer;
        }

        input:focus {
            outline: none;
        }

        button {
            border: none;
        }

        .content-inner {
            .users {
                
                .user {
                    display: flex;   
                    align-items: center;      

                    .user-name {
                        justify-content: space-between;
                        display: flex;
                        align-items: center;
                        .status {
                            width: 13px;
                            height: 13px;
                            border: 1px solid black;
                            border-radius: 30px;
                            margin-right: 16px;
                        }

                        .no-disturb {
                            background: red;
                        }

                        .online {
                            background: green;
                        }

                        .away {
                            background: orange;
                        }

                    }
                    .room-cur {
                        color: #333333;
                    }
                }
            }
        }
    }

    

    footer {
        min-height: 110px;
        background: #1f1f1f;
        border-radius: 15px 15px 0px 0px;

        

        
    }
}